<%provide(:title, "Home") %>

<!Doctype html>
<html>
<head>
   <title><%=yield(:title) %> Sample App</title>

</head>
<body>
<h1>Sample App</h1>
<p>
  This is the home page for <a href="www.railstutorial.org/"> ruby in rails </a> tutorial
</p>

</body>
</html>

